
.head{
    font-size: xxx-large;
    background-color: #20C148;
    text-align: center;
    border: solid 5px;
    border-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    background-color: tan;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.events{
    text-align: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #20C148;
    font-size:x-large;
    border: solid 5px;
    border-color: skyblue;
}
.summary{
    width: auto;
    height: auto;
    background-color: white;
    border: 5px solid;
    border-color: skyblue;
}

.grid-container{
    margin: 0 auto;
    column-gap: 50px;
    row-gap: 50px;
    height: auto;
    max-width: 980px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14 {
    text-align: center;
    background-color: skyblue;
    border: 5px solid; 
    border-color:#20C148 ;
}

@media screen and (max-width: 400px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        margin: 0 auto;
        gap: 10px;
    }
}
@media screen and (min-width:1500px){
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0 auto;
        gap: 10px;  
    }
}
