@media screen and (min-width: 400px){
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-size-adjust: larger;
    background-color: skyblue;
}

body{ 
    background-color: tan;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}   

h2{
    text-align: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;
}

.container{
display: flex;
gap: 10px; 
gap: 10px 20px;
row-gap: 10px;
column-gap: 20px;

}

.box1, .box2, .box3 {
    width: 300px;
    height: 50px;
    position: absolute;
    border-color: navy;
    border-width: 5px;
}

.box1{
    background-color: skyblue;
    position: absolute;
    left: 10px;
    text-align: var(200px);
}

.box2{
    background-color: skyblue;
    position: absolute;
    left: 350px;
    text-align: var(200px);  
}

.box3{
    background-color: skyblue;
    position: absolute;
    left: 700px;
    text-align: var(200px)
}

.box4, .box5, .box6{
    background-color: skyblue;
    width: 300px;
    height: 50px;
    position: absolute;
}

.box4{ 
    background-color: skyblue;
    position: absolute;
    bottom: -450px;
    left: 10px; 
}

.box5{
    background-color: skyblue;
    position: absolute;
    bottom: -150px;
    left: 350px;
}

.box6{
    background-color: skyblue;
    position: absolute;
    bottom: -335px;
    left: 700px;
}

.box7, .box8, .box9{
    background-color: skyblue;
    width: 300px;
    height: 50px;
    position: absolute;
}

.box7{
    background-color:skyblue;
    position: absolute;
    bottom: -1150px;
    left: 10px;
}

.box8{
    background-color: skyblue;
    position: absolute;
    bottom: -900px;
    left: 350px;
}

.box9{ 
    background-color: skyblue;
    position: absolute;
    bottom: -1200px;
    left: 700px;
}

.box10, .box11, .box12 {
    background-color: skyblue;
    width: 300px;
    height: 50px;
    position: absolute;  
}

.box10{
    background-color:skyblue;
    position: absolute;
    bottom: -2150px;
    left: 10px;   
}

.box11{
    background-color: skyblue; 
    position: absolute; 
    bottom: -2000px;
    left: 350px
}

.box12{
    background-color: skyblue;
    position: absolute;
    bottom: -2200px;
    left: 700px;
}

.box13, .box14 {
    background-color: skyblue;
    width: 300px;
    height: 50px;
    position: absolute; 
}

.box13{
    background-color: skyblue;
    position: absolute; 
    bottom: -3000px;
    left: 10px;
}

.box14{
    background-color: skyblue;
    position: absolute;
    bottom: -3000px;
    left: 350px;
}
}