body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }

  
  nav {
    background-color: #000;
    padding: .5em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    background-color: black;
  }
  
  nav li{
    float: center;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }

  .paragraph {
    display:flex;
    align-items:center;
    padding: 10x;
  }


  .balloon-sq1, .balloon-sq2, .ballon-sq3, .balloon-sq4, .balloon-sq5{
    max-width: auto;
    max-height: auto;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.container {
  column-width: 10em;
  column-rule: 1 px;
}

  .feature {
      width: 200px;
  }