html {
    font-family: sans-serif;
    font-size:larger;
  }

body{
    width: 100px;
    height: 100px;
}

.container{
    position: absolute;
    top: 50px; 
    left: 50px;
}

.box1, .box2, .box3{
    width: 150px;
    height: 100px;
    position absolute;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    text-align:center;
}

.box1{
    background-color: yellow;
    left:0px;
    position:absolute;
    text-align:var(200px);
}

.box2{
    background-color:red;
    left: 120px;
    position: absolute;
}

.box3{
    background-color: aqua;
    left:250px;
    position: absolute;
}

.box4{
    width: 300px;
    height: 150px;
    border-style: dashed;
    border-color: white;
    border-width: 10px;
    background-color:lightblue;
    top: 600px;
    left: 600px;
    position: absolute;
    font-size: xx-large;
    text-align:center;
    
}


